<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header::header(~{::title},~{},~{})">
  <title>科研系统-添加科研人员</title>
</head>
<body>
<div style="padding: 20px;">
  <form class="layui-form" method="post" id="ry_Form" lay-filter="ry_Form">
    <div class="layui-form">
      <table class="layui-table">
        <tbody>
        <tr>
          <th>职工号</th>
          <td>
            <input type="text" name="zgh" autocomplete="off" lay-verify="required" placeholder="请输入职工号" class="layui-input"/>
          </td>
          <th>姓名</th>
          <td>
            <input type="text" name="name" autocomplete="off" lay-verify="required" placeholder="请输入姓名" class="layui-input"/>
          </td>
          <th>英文名</th>
          <td>
            <input type="text" name="name_en" autocomplete="off" placeholder="请输入英文名" class="layui-input"/>
          </td>
          <th>所属科研机构</th>
          <td>
            <input type="text" name="fk_jgid" autocomplete="off" placeholder="请输入fk_jgid" class="layui-input"/>
          </td>
        </tr>
        <tr>
          <th>手机号</th>
          <td>
            <input type="text" name="phone" autocomplete="off" placeholder="请输入手机号" class="layui-input"/>
          </td>
          <th>电话</th>
          <td>
            <input type="text" name="tel" autocomplete="off" placeholder="请输入电话" class="layui-input"/>
          </td>
          <th>邮箱</th>
          <td>
            <input type="text" name="email" autocomplete="off" placeholder="请输入邮箱" class="layui-input"/>
          </td>
          <th>qq</th>
          <td>
            <input type="text" name="qq" autocomplete="off" placeholder="请输入qq" class="layui-input"/>
          </td>
        </tr>
        <tr>
          <th>身份证号</th>
          <td>
            <input type="text" name="idNo" autocomplete="off" placeholder="请输入身份证号" class="layui-input"/>
          </td>
          <th>性别</th>
          <td>
            <select name="gender">
              <option value="" selected>请选择性别</option>
              <option th:each="zd,stat:${dict_gender}" th:value="${zd.zdz}"
                      th:text="${zd.zdm}"></option>
            </select>
          </td>
          <th>生日</th>
          <td>
            <input type="text" name="birth" autocomplete="off" placeholder="请输入生日" class="layui-input"/>
          </td>
          <th>导师类型</th>
          <td>
            <select name="tutor">
              <option value="" selected>请选择导师类型</option>
              <option th:each="zd,stat:${dict_tutor}" th:value="${zd.zdz}"
                      th:text="${zd.zdm}"></option>
            </select>
          </td>
        </tr>
        <tr>
          <th>职称</th>
          <td>
            <input type="text" name="zc" autocomplete="off" placeholder="请输入职称" class="layui-input"/>
          </td>
          <th>学历</th>
          <td>
            <select name="edu">
              <option value="" selected>请选择学历</option>
              <option th:each="zd,stat:${dict_edu}" th:value="${zd.zdz}"
                      th:text="${zd.zdm}"></option>
            </select>
          </td>
          <th>学位</th>
          <td>
            <select name="degree">
              <option value="" selected>请选择学位</option>
              <option th:each="zd,stat:${dict_degree}" th:value="${zd.zdz}"
                      th:text="${zd.zdm}"></option>
            </select>
          </td>
          <th>毕业学校信息</th>
          <td>
            <input type="text" name="school" autocomplete="off" placeholder="请输入毕业学校信息" class="layui-input"/>
          </td>
        </tr>
        <tr>
          <th>研究方向</th>
          <td>
            <input type="text" name="yjfx" autocomplete="off" placeholder="请输入研究方向" class="layui-input"/>
          </td>
          <th>学科门类</th>
          <td>
            <input type="text" name="xkml" autocomplete="off" placeholder="请输入学科门类" class="layui-input"/>
          </td>
          <th>荣誉称号</th>
          <td>
            <input type="text" name="rych" autocomplete="off" placeholder="请输入荣誉称号" class="layui-input"/>
          </td>
          <th>学术特长</th>
          <td>
            <input type="text" name="xstc" autocomplete="off" placeholder="请输入学术特长" class="layui-input"/>
          </td>
        </tr>
        <tr>
          <th>进修培训情况</th>
          <td>
            <input type="text" name="train" autocomplete="off" placeholder="请输入进修培训情况" class="layui-input"/>
          </td>
          <th>出国经历</th>
          <td>
            <input type="text" name="cgjl" autocomplete="off" placeholder="请输入出国经历" class="layui-input"/>
          </td>
          <th>兼职</th>
          <td>
            <input type="text" name="jz" autocomplete="off" placeholder="请输入兼职" class="layui-input"/>
          </td>
          <th>备注</th>
          <td>
            <input type="text" name="remark" autocomplete="off" placeholder="请输入备注" class="layui-input"/>
          </td>
        </tr>
        <tr>
          <th>人事单位</th>
          <td>
            <input type="text" name="rsdw" autocomplete="off" placeholder="请输入人事单位" class="layui-input"/>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <input type="hidden" name="fk_xtglid" th:value="${cuser.fk_xtglid}"/>
    <input type="hidden" name="fk_qybm" th:value="${cuser.fk_qybm}"/>
    <button style="display:none;" lay-submit lay-filter="submitBut" class="sb"></button>
  </form>
</div>

<div th:replace="/common/footer::footer()"></div>

<script type="text/javascript" th:src="@{/static/js/ky/ry/ry.js}"></script>

<script th:inline="javascript">
  const cuser = [[${cuser}]];

  layui.config({
    base: ctx + 'static/js/layuiExts/'
  }).use(['element', 'laydate', 'table', 'form'], function () {
    //let element = layui.element;
    //let laydate = layui.laydate;
    let form = layui.form;
    //let table = layui.table;

    //表单验证
    form.verify({
      cnumber: function (value, item) {
        let reg = new RegExp("^\\d+(?:\\.\\d{1,2})?$")
        if (value && isNaN(value)) {
          return "只能输入数字";
        }
        if (value && !reg.test(value)) {
          return "最多两位小数";
        }
      }
    });

    //表单提交
    form.on('submit(submitBut)', function (data) {
      let ry = {};
      for (let key in data.field) {
        let val = data.field[key];
        if (val) {
          ry[key] = val;
        }
      }

      let indexout = top.layer.getFrameIndex(window.name); //获取窗口索引

      RY.add(ry, function (){
        top.layer.close(indexout); //关闭弹出框
        TAB.refreshLayerOpen();
        return false;
      });
      return false;
    });
  });
</script>

</body>
</html>