<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header::header(~{::title},~{},~{})">
  <title>科研系统-添加合作单位</title>
</head>
<body>
<div style="padding: 20px;">
  <form class="layui-form" method="post" id="dw_Form" lay-filter="dw_Form">
    <div class="layui-form">
      <table class="layui-table">
        <tbody>
        <tr>
          <th>合作单位名称</th>
          <td>
            <input type="text" class="layui-input" name="dwmc" lay-verify="required"/>
          </td>
        </tr>
        <tr>
          <th>联系人</th>
          <td>
            <input type="text" class="layui-input" name="lxr" lay-verify="required"/>
          </td>
        </tr>
        <tr>
          <th>联系电话</th>
          <td>
            <input type="text" class="layui-input" name="lxdh" lay-verify="required"/>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <button class="sb" lay-submit lay-filter="dw_Form" style="display: none;">提交</button>
    <input type="hidden" name="fk_xmid" th:value="${fk_xmid}" />
  </form>
</div>

<div th:replace="/common/footer::footer()"></div>

<script type="text/javascript" th:src="@{/static/js/ky/xm/zxxm/dw.js}"></script>

<script th:inline="javascript">
  const cuser = [[${cuser}]];

  layui.config({
    base: ctx + 'static/js/layuiExts/'
  }).use(['element', 'laydate', 'table', 'form', 'upload'], function () {

    let form = layui.form;

    //表单提交
    form.on('submit(dw_Form)', function (data) {
      debugger;
      let zxxm_dw = {};
      for (let key in data.field) {
        let val = data.field[key];
        if (val) {
          zxxm_dw[key] = val;
        }
      }

      debugger;

      let indexout = top.layer.getFrameIndex(window.name); //获取窗口索引

      ZXXM_DW.add(zxxm_dw, function () {
        debugger;
        top.layer.close(indexout); //关闭弹出框
        //TAB.refreshLayerOpen();
        return false;
      });

      return false;
    });

  });
</script>
</body>
</html>