<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/header::header(~{::title},~{},~{})">
  <title>科研系统-添加科研机构</title>
</head>
<body>
<div style="padding: 20px;">
  <form class="layui-form" method="post" id="jg_Form">
    <div class="layui-form">
      <table class="layui-table">
        <tbody>
          <tr>
            <th>机构编码</th>
            <td>
              <input type="text" class="layui-input" name="code" lay-verify="required" />
            </td>
            <th>机构名称</th>
            <td>
              <input type="text" class="layui-input" name="name" lay-verify="required" />
            </td>
            <th>所属学院</th>
            <td>
              <select name="fk_xyid" lay-filter="xy">
                <option value="">请选择学院</option>
                <option th:each="xy,stat:${xyList}" th:value="${xy.id}"
                        th:text="${xy.name}"></option>
              </select>
            </td>
          <tr>
            <th>负责人</th>
            <td>
              <input type="text" class="layui-input" name="fzr" lay-verify="required" />
            </td>
            <th>联系人</th>
            <td>
              <input type="text" class="layui-input" name="lxr" lay-verify="required" />
            </td>
            <th>联系电话</th>
            <td>
              <input type="text" class="layui-input" name="lxdh" lay-verify="required" />
            </td>
          </tr>
          <tr>
            <th>成立日期</th>
            <td>
              <input type="text" readonly class="layui-input" name="clrq" id="clrq" />
            </td>
            <th>挂靠单位</th>
            <td>
              <input type="text" class="layui-input" name="gkdw" />
            </td>
            <th>人事单位</th>
            <td>
              <input type="text" class="layui-input" name="rsdw" />
            </td>
          </tr>
          <tr>
            <th>邮箱</th>
            <td>
              <input type="text" class="layui-input" name="email" />
            </td>
            <th>电话</th>
            <td>
              <input type="text" class="layui-input" name="tel" />
            </td>
            <th>传真</th>
            <td>
              <input type="text" class="layui-input" name="fax" />
            </td>
          </tr>
          <tr>
            <th>地址</th>
            <td>
              <input type="text" class="layui-input" name="addr" />
            </td>
            <th>邮编</th>
            <td>
              <input type="text" class="layui-input" name="postcode" />
            </td>
            <th>网址</th>
            <td>
              <input type="text" class="layui-input" name="url" />
            </td>
          </tr>
        </tbody>
      </table>

      <!-- 通知附件 -->
      <div class="layui-form-item">
        <div class="layui-upload">
          <button type="button" class="layui-btn layui-btn-normal" id="fj">选择附件</button>
          <!-- 进度条 -->
          <div class="layui-progress" id="progress" lay-filter="progress" style="display: none;">
            <div class="layui-progress-bar"></div>
          </div>
          <div class="layui-upload-list">
            <table class="layui-table">
              <tbody id="fjList"></tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
    <button class="sb" lay-submit lay-filter="jg_Form" style="display: none;">提交</button>
  </form>
</div>

<div th:replace="/common/footer::footer()"></div>

<script type="text/javascript" th:src="@{/static/js/ky/jg/jg.js}"></script>

<script th:inline="javascript">
  const cuser = [[${cuser}]];
  layui.config({
    base: ctx + 'static/js/layuiExts/'
  }).use(['element', 'laydate', 'table', 'form', 'upload'], function () {
    let element = layui.element;
    let laydate = layui.laydate;
    let form = layui.form;
    let table = layui.table;
    let layedit = layui.layedit;
    let upload = layui.upload;

    laydate.render({
      elem: '#clrq', type: 'date'
    });

    //通知
    let jg = {
      model: {},
      list: []
    };

    //表单提交
    form.on('submit(jg_Form)', function (data) {
      //项目model信息
      let model = {};
      for (let key in data.field) {
        let val = data.field[key];
        if (val) {
          model[key] = val;
        }
      }
      //基础信息
      jg.model = model;

      let indexout = top.layer.getFrameIndex(window.name); //获取窗口索引

      JG.add(jg, function () {
        debugger;
        top.layer.close(indexout); //关闭弹出框
        TAB.refreshLayerOpen();
        return false;
      });

      return false;
    });

    renderUpload('#fj', '#fjList', 'progress');

    /**
     * 渲染文件上传
     * @param elem 文本域id #xxx
     * @param elemList 文件列表id #xxx
     * @param progressBar 进度条 xxxx
     */
    function renderUpload(elem, elemList, progressBar) {
      let loadi;

      let uploadIns = upload.render({
        elem: elem,
        elemList: $(elemList),
        url: ctx + "CZF/KYDW/KYJG/upload",
        accept: 'file',
        multiple: false,
        number: 3,
        auto: true,
        field: 'file',
        //bindAction: bindAction,
        //exts: 'jpg|png|gif|bmp|jpeg|pdf',
        choose: function (obj) {
          let that = this;
          let files = that.files = obj.pushFile();
          debugger;
          element.progress(progressBar, '0%');
          $("#" + progressBar).show();
        },
        before: function(obj){ //上传前的回调
          loadi = top.layer.load();
        },
        done: function (res, index, upload) { //成功的回调
          debugger;
          top.layer.close(loadi);
          $("#" + progressBar).hide();

          let that = this;
          let jgfj = res.data;

          let tr = $(['<tr id="upload-' + index + '">',
            '<td>' + jgfj.name + '</td>',
            '<td>',
            "<button data-fjmc='" + jgfj.name + "' data-fjdz='" + jgfj.path + "' class='layui-btn layui-btn-xs fj-download'>下载</button>",
            "<button data-fjmc='" + jgfj.name + "' data-fjdz='" + jgfj.path + "' class='layui-btn layui-btn-xs layui-btn-danger fj-delete'>删除</button>",
            '</td>',
            '</tr>'].join(''));

          that.elemList.append(tr);

          delete that.files[index]; //删除文件队列已经上传成功的文件

          //添加附件信息
          jg.list.push(jgfj);

          //删除附件方法
          tr.find('.fj-delete').on('click', function () {
            //调用接口删除已上传的文件
            let path = $(this).attr("data-fjdz");
            let name = $(this).attr("data-fjmc");
            JG.delFj(path, function () {
              delete that.files[index]; //删除对应的文件
              tr.remove();
              uploadIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选

              for (let i = 0; i < xm.list.length; i++) {
                let jgFj = (jg.list)[i];
                if (name == jgFj.name && path == jgFj.path) {
                  jg.list.splice(i, 1);
                  break;
                }
              }
              return false;
            });
            return false;
          });

          //下载附件方法
          tr.find('.fj-download').on('click', function () {
            let path = $(this).attr("data-fjdz");
            let name = $(this).attr("data-fjmc");
            jg.downloadFj(path, name);
            return false;
          });

          return false;
        },
        allDone: function (obj) { //多文件上传完毕后的状态回调
          top.layer.close(loadi);
          $("#" + progressBar).hide();
          return false;
        },
        error: function (index, upload) { //错误回调
          top.layer.close(loadi);
          top.layer.msg("上传失败");
          return false;
        },
        progress: function (n, elem, e, index) { //注意：index 参数为 layui 2.6.6 新增
          element.progress(progressBar, n + '%'); //执行进度条。n 即为返回的进度百分比
        }
      });
      return false;
    }

  });
</script>
</body>
</html>